.file-list {
    width: 300px;
    height: 350px;
    background-color: rgba(41, 45, 62, .8);
    color: #fff;
    border-radius: 2px;
    padding: 50px;
}

.file-list .file-list-header {
    text-align: center;
    font-size: 30px;
    line-height: 100px;
}

.file-list .file-list-input-wrapper input {
    background-color: rgb(41, 45, 62);
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
    outline: none;
    font-weight:Bold; 
}


.file-list .file-list-input-wrapper input:hover {
    background-color: rgb(255, 255, 255);
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
    outline: none;
}


.file-list .file-list-input-wrapper .file-list-border-wrapper {
    background-image: linear-gradient(to right, #e8198b, #0eb4dd);
    width: 100%;
    height: 30px;
    margin-bottom: 9px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-list .file-list-input-wrapper .file-list-border-wrapper .file-list-border-item {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border-radius: 20px;
}

.file-list .action {
    display: flex;
    justify-content: center;
}

.file-list .action .btn {
    color: rgb(255, 0, 0);
    width: 48%;
    text-transform: uppercase;
    border: 2px solid #ff0000;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color:transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.file-list .action .btn:hover {
    color: black;
    background-image: linear-gradient(120deg, #ff0000 0%, #ffffff 100%);
}