/* 解决高度塌陷 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main img {
  object-fit: cover;
  width: 100%;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal .container {
  padding: 10px;
  width: 600px;
  height: 550px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
}

.pop {
  width: 100%;
  height: 100%;
  /* background: url('dd.jpg') no-repeat 100% 100%; */
  /* position: relative; */
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #000;
  font-size: smaller;
}

.pop::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(10px);
  margin: -21px;
  background: url("dd.jpg") no-repeat 100% 100%;
  background-size: cover;
  opacity: 0.8;
  -webkit-filter: blur(10px);
}
.pop p,
h3,
h4 {
  filter: blur(0);
}

#submit_auth_code {
  width: 100%;
  border: none;
  background-color: #E91E63;
  color: #eee;
  border-radius: 5px;
  height: 40px;
  filter: blur(0);
}

#submit_auth_code:hover {
  background: #E91E63;
  opacity: 1;
}

#submit_auth_code:active {
  height: 40px;
  color: white;
  border-radius: 5px;
  background: #FF4081;
  opacity: 1;
  filter: blur(0);
}
/* ---------------input--------- */
.wrapper {
  margin-top: 50px;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  /* padding: 20px ; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  filter: blur(0);
  border-radius: 5px;
}
.wrapper .input-data {
  width: 100%;
  height: 50px;
  position: relative;
  border-radius: 5px;
  filter: blur(0);
}
.wrapper .input-data input {
  background-color: transparent;
  outline: none; 
  font-size: 25px; 
  font-weight: bold;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  /* border-bottom: 1px solid silver; */
  text-align: center;
  filter: blur(0);
  backdrop-filter: blur(10px) brightness(110%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-50px);
  font-size: 25px;
  color: #FF4081;
}
.wrapper .input-data label {
  width: 100%;
  height: 50px;
  font-size: 25px;
  text-align: center;
  color: #E91E63;
  position: absolute;
  left: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper .input-data .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
  filter: blur(0);
}
.input-data .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #FF4081;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
  transform: scaleX(1);
}
